# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest


steps:
- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false
- script: echo Hello, world!
  displayName: 'Run a one-line script'
- script: |
    echo "Sources: $(Build.SourcesDirectory)"
    ls -la $(Build.SourcesDirectory)
  
    echo "stagingdir: $("$(Build.ArtifactStagingDirectory)")
    ls -la $(Build.ArtifactStagingDirectory)
  displayName: 'Check source folder contents'

- task: CopyFiles@2
  inputs:
    SourceFolder: '''$(Build.SourcesDirectory)/dist'''
    Contents: '**'
    TargetFolder: '''$(Build.ArtifactStagingDirectory)'''

- task: PublishBuildArtifacts@1
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
